h1{
    color:red;
    margin-left: 25%;
    padding-top: 20px;
    padding-bottom: 20px;                                  /*make everything in h1 change color to red and added padding*/
    padding-left: 20px;
    padding-right: 20px;
}

h2{
    color:blue;
    border-width: 1px;
    border-style:solid;                        /*this changed everything in h2 change color to blue and added a border*/
    border-color: pink;
}

.green
{
    color:green;
    font-weight: bold;
}
